body {
  background-color: rgb(200,230,255);
}

.nav {
  text-align: center;
  width: 90%;
  margin: 1em auto;
  padding: 1em;
  background-color: rgb(100, 225, 115);
}

.container {
  text-align: center;
  width: 90%;
  margin: 1em auto;
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
}
