* {
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: #FFFFFF;
	text-align: justify;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #231F20;
}

.topBar {
  width: 100%;
  background-color: #97908a;
}

.lowerBar {
  width: 100%;
  background-color: #7a756f;
}

p, blockquote, ul, ol {
	margin-bottom: 1em;
	line-height: 2em;
}

ul, ol, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a {
	text-decoration: underline;
	color: #231F20;
}

a:hover {
	text-decoration: none;
	color: #231F20;
}

/* Header */

#header {  
  min-height: 1em;
  overflow: hidden;
  margin: 0 auto;
  padding-left: 5%;
}

#header img {
  margin: 1% 3% 1% 0;
  width: 50%;
  float: right;
}

/* Logo */

#logo {
  float: left;
  width: 38%;
  max-width: 270px;
  margin: 2%;
}

#logo h1 {
	margin: 0;
	padding: 0;
	font: normal 4.7vw Georgia, "Times New Roman", Times, serif;
	color: #FFFFFF;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */



#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
  padding-left: 3%;
  display: none;
}

#menu a, #menu #collapse {
  margin-right: 1px;
  padding: 0.2em;   
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.7em;
	font-weight: bold;
	color: #F4914E;
}

#menu #collapse {
  margin-top: -1em;
  display: block;
	float: left;   
  font-size: 2em;
  padding: 0 .2em;
}

#menu .show {
  z-index: 2;
  display: block;
  margin-left: 2em;
  background-color: #4d4c4a;  
}

#menu a:hover, #menu .active a {
	background: #000000;	
	font-size: 0.7em;
	font-weight: bold;
}

#menu .active a {
  color: #F0E110;
}

#splash {
  display: none;	
	margin: 0 auto;
}

#splash img {
  width: 100%;
}

/* Page */

#page {	
	margin: 0 auto;
	padding-top: 2em;
}

/* Content */

#content {
	float: right;
	width: 100%;
}
.post {
	margin-bottom: 2em;
	border-bottom: 1px solid #CCCCCC;
}

.post .title {
  padding: 0.25em 1em;
	background: #AAAAAA;
	color: #515151;
}

.post .entry {
	padding: 20px 0px;
}

.post img {	
  margin: 0.25em 0;
  max-width: 100%;
}

.postInput {  
  width: 100%;
  margin-bottom: 1em;  
}

.postInputArea {  
  width: 100%;
  min-height: 30vh;
  margin-bottom: 1em;
  resize: vertical;  
}

.notices p {
  line-height: 1.2em;
}

/* Sidebar */

#sidebar {
  display: none;
	float: left;
	width: 26%;	
}

#links ul {
	margin: 1em 0;	
	list-style: none;
	line-height: normal;
}

#links li {
	margin: 0;
	padding: 0.5em 0;
	border: none;
	border-bottom: 1px solid #CCCCCC;
}

#links h2 {
	margin: 0;	
	font-size: 160%;
	font-weight: normal;	
}

#links h3 {
	font-size: 77%;
	color: #110404;
}

#links p {
	margin: 0;
	line-height: normal;
	color: #D4C792;
}

#links a {
	border: none;
	text-decoration: none;
	color: #4A4949;
}

#links a:hover {
	text-decoration: underline;
}

#header, #menu, #splash, #page {
  width: 95%;
  max-width: 1160px;
}

@media all and (min-width: 768px) {  
  #logo h1 {
    font-size: 36px;
  }

  #content {
    width: 68%;
  }

  #menu {  
    min-height: 1em;
    overflow: hidden;
    margin: 0 auto;
    background-color: #4d4c4a;
  }

  #menu ul, #splash, #sidebar {
    display: block;    
  }

  #menu li {
    display: inline;
    text-align: center;
  }

  #menu #collapse {
    display: none;
  }
  
  #menu a {
    display: block;
    float: left;
    height: 3em;
    margin-right: 1px;
    padding: 1.5em;
    padding-bottom: 0;
  }
}

@media all and (min-width: 839px) {
  #header, #menu, #splash, #page {
    width: 90%;
  }
}

@media all and (min-width: 1024px) {
  #header, #menu, #splash, #page {
    width: 80%;
  }
}