@import "components/index";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

html, body {
    padding: 0;
    margin: 0;
  }

body {
    background-color: $backgroundcolor;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.5em;
}

body, a {
  color: $textcolor;
}

