@import "variables";

.footer {
  background-color: $color4;
  color: white;
  padding: 0.5em 5vw;
  height: 100px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin: 0.5em 0;
  }

  a {
    text-decoration: none;
    color: white;
  }

  .section {
    width: 33%;
    float: left;
    margin: 0;
    p {margin: 0.5em 0;}
  }

  .right {
    text-align: right;
  }
  
  .center p {
    width: fit-content;
    margin: 0.5em auto;
  }
}