
.about, .notices {
    max-width: 100%;
    margin: 0;
    padding: 5%;
    background-color: white;
    font-size: 1.5em;
    overflow: hidden;
}

.parishTile {
    width: 30%;
    float: left;    
}

.mid {
    margin-left: 5%;
    margin-right: 5%;
}

.parishTile img {
    width: 100%;
}

.parallaxContent {
    padding: 5%;    
    color: white;
    h1 {
        font-size: 4em;
    }
}