
.about, .notices {
  max-width: 100%;
  margin: 0;
  padding: 5%;
  background-color: white;
  font-size: 1.5em;
  overflow: hidden;
  a, a:active {
    text-decoration: none;
    color: dodgerblue
  }
}

.tileBoard {
  a {
    color: black;
  }
}

.parishTile {
  text-align: center;
  width: 30%;
  float: left;
  h4 {
    margin: 0;
  }
}

.mid {
  margin-left: 5%;
  margin-right: 5%;
}

.parishTile img {
  width: 100%;
}

.parallaxContent {
    padding: 5%;    
    color: white;
    h2 {
        font-size: 4em;
    }
}