.ourChurches {
  a, a:active {    
    color: black;
  }

  .tab {
    float: left;
    font-weight: bold;
    text-decoration: underline;
    margin: 0.5em;
    cursor: pointer;
  }

  .tab:hover {
    opacity: 0.6;
  }

  .activeTab {
    font-weight: normal;
    opacity: 0.6;
    cursor: default;
  }

  .line {
    clear: both;
  }
  
  img {
    width: 45vw;
  }
  
  .mapouter {
    display: none;    
  }

  #mapLink {
    display: block;
  }

  @media all and (min-width: 768px) {
    .mapouter{
      display: block;
      float: right;
      height:35vw;
      width:40vw;    
    }
    
    .gmap_canvas {
      overflow:hidden;
      background:none!important;
      height:35vw;
      width:40vw;
    }
    
    .mapouter iframe {
      height: 35vw;
      width: 40vw;
    }

    #mapLink {
      display: none;
    }

  }

}

