.location {
  a, a:active {    
    color: black;
  }
  
  img {
    width: 100%;
  }
  
  .mapouter{
    display: none;    
  }

  #mapLink {
    display: block;
  }

  @media all and (min-width: 768px) {
    img {
      width: 45vw;
    }

    .mapouter{
      display: block;
      float: right;
      height:35vw;
      width:40vw;    
    }
    
    .gmap_canvas {
      overflow:hidden;
      background:none!important;
      height:35vw;
      width:40vw;
    }
    
    .mapouter iframe {
      height: 35vw;
      width: 40vw;
    }

    #mapLink {
      display: none;
    }

  }

}

