.location {
  position: relative;
  background-color: white;
  a, a:active {    
    color: black;
  }
}

.details {
  position: absolute;
  top: 0;
  left: 5vw;
  width: 25vw;
  text-align: left;
  img {
    width: 90%;
    
  } 
}

.mapouter{
  position: absolute;
  top: 5vw;
  right: 5vw;
  text-align:right;
  height:50vw;
  width:60vw;
  background: white;  
  padding: 2.5vw;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
  height:50vw;
  width:60vw;
}

.mapouter iframe {
  height: 50vw;
  width: 60vw;
}