@import "variables";

.password {
  background-color: $color1;
  text-align: center;
  height: 100vh;

  .button {
    background-color: $color4;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: black 1px solid;
  }
  .logo {
    width: 40%;
  }
}